<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="height: 150px;background-color: #FFF6F6;">
        <div style="height: 20px;background-color: #FACACA;"></div>
        <table>
            <tr>
                <th style="color: #AC0F0F;width: 25%;padding-top:20px;">ALERT</th>
                <th style="color: #AC0F0F;padding-top:20px;">System: {{API_Name}} API response has gone above threshold limit</th>
            </tr>
            <tr>
                <td></td>
                <td style="color: #000000;">Ensure API is working fine.</td>
            </tr>
            <tr>
                <td></td>
                <td style="color: #C1BBC1;">{{TIME}}</td>
            </tr>
    </div>
</body>

</html>